.homePage-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    height: 35px;
    background-color: #ffffff;
    border: none;
    z-index: 10;
}
.homePage-nav .logo{
    font-family: 'Satoshi', sans-serif;
    font-family: 'Rosaline', cursive;
    font-size: 25px;
    font-weight: 30px;
    cursor: pointer;
}
.homePage-nav .search-btn{
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}


.feed-container{
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    

}

.feed-container::-webkit-scrollbar{
    display: none;
}

.status-container{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 8px;
    padding-inline: 10px;
    border: none;
}
.status-container::-webkit-scrollbar{
    display: none;
}


.status{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    color: rgb(70, 70, 70);
    font-family: 'Spline Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
.status-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 5rem;
    border: 3px solid rgb(122, 174, 242);
    border-radius: 50px;
    cursor: pointer;
    
}
.status img{
    width: 3.6rem;
    height: 75px;
    border-radius: 50px;
}



.add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 5rem;
    border: 3px solid rgb(232, 232, 232);
    border-radius: 50px;
    cursor: pointer;
    
}
.add img{
    width: 30px;
}



.post-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 130px;
    -webkit-tap-highlight-color: transparent;
  user-select: none;
}

@media(min-width: 550px){
    
    .status-container{
        top: 50px;
        align-items: center;
        justify-content: flex-start;
        width: 530px;
        
    }
    .feed-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
