.liked{
    color: rgb(254, 196, 196);
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 20px;
    color: rgb(99, 99, 99);
    font-family: 'Spline Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    width: 375px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 15px;
    -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
.left-header{
    display: flex;
    align-items: center;
}
.profile img{
    width: 2.5rem;
    margin: 8px 10px 10px 8px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.post-info{
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    cursor: pointer;
}
.username-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
   
}
.user-name{
    color: black;
    font-size: 17px;
    -webkit-tap-highlight-color: transparent;
  user-select: none;
}


.right-header{
    margin-right: 10px;
}
.right-header img{
    width: 1.5rem;
    cursor: pointer;
}

.post-file{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 10px 10px;
    height: 270px;
    cursor: pointer;
}
.post-file img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 9px;
    cursor: pointer;
}
.post-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
    cursor: pointer;
}
.left-btns{
    display: flex;
    align-items: center;

}
.left-btns span{
    padding: 0px 4px;
}
.left-btn-icons{
    color: rgb(124, 124, 124);
    width: 20px;
    cursor: pointer;
}
.post-btns button{
    background-color: #e7e7e7;
    color: rgb(122, 174, 242);
    padding: 10px 20px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.post-btns button:hover{
    background-color: #e0e0e0;
}
.left-btn-icons:hover{
    color: rgb(163, 163, 163);
}
.post-option img:hover{
    padding: 0px 0px;
    height: 15px;
}
.post-discription{
    margin: 5px 10px 50px 10px ;
    font-size: 15px;
    cursor: pointer;
}
.post-discription span{
    color: #000000;
    font-size: 14px;
    cursor: pointer;

}
