.status-container{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 8px;
    padding-inline: 10px;
    border: none;
}
.status-container::-webkit-scrollbar{
    display: none;
}



.status{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    color: rgb(70, 70, 70);
    font-family: 'Spline Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    flex-shrink: 0; 
    transition: all 0.4s ease-in-out;
}

.status-ring{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 5rem;
    border: 3px solid rgb(122, 174, 242);
    border-radius: 50px;
    cursor: pointer;
    
}
.status-viewed{
    border-color: #bdbdbd;
    transition: border-color 0.3s ease;
}
.status img{
    width: 3.6rem;
    height: 75px;
    border-radius: 50px;
}
.add img{
    width: 30px;
    
}

@media(min-width: 550px){
    
    .status-container{
        top: 50px;
        align-items: center;
        justify-content: flex-start;
        width: 530px;
        
    }
    
    

}
