
.user-profile-background{
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 200px;
    border-radius: 20px;
    background-color: rgb(118, 84, 84);

}
.user-profile-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
     -webkit-tap-highlight-color: transparent;
}
.user-profile-nav .right,.user-profile-nav .left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
     -webkit-tap-highlight-color: transparent;
}
.user-profile-container{
    position: fixed;
    top: 140px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
   
}
.user-profile-container .user-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 110px;
    height: 110px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(236, 236, 236);
    -webkit-tap-highlight-color: transparent;
}
.user-profile-container .user-profile img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}
.user-profile-container .user-name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    font-family: 'Spline Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
.user-name .display-name{
    font-size: 20px;
    color: rgb(87, 87, 87)  ;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Zodiak', serif;
}
.user-name .acct-name{
    font-size: 13px;
    color: rgb(127, 127, 127)  ;
}
.user-name .bio{
    font-size: 14px;
    width: 350px;
    color: rgb(101, 101, 101)  ;
    margin-top: 9px;
}

.account-follows{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.seporator{
    background-color: rgb(199, 199, 199);
    width: 2px;
    height: 30px;
    margin-inline: 40px;
}
.user-followers, .user-followings{
    display: flex;
    flex-direction: column;
}
.number-follows{
    font-size: 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Zodiak', serif;
}
.account-follows .label{
    font-size: 14px;
    color: rgb(131, 131, 131);
}


.user-acct-feed {
    position: relative;
    display: block;
    margin-top: 470px;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
    border-top: 1px solid #ffffff;
    font-family: 'Spline Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
   background-color: rgb(255, 255, 255);
}

.acct-feed-lable {
     -webkit-tap-highlight-color: transparent;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 15px;
    background-color: #ffffff;
}

.acct-feed-lable > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    flex: 1; 
}

.lable-name {
    font-weight: 600;
    color: #b9b9b9;
    padding-bottom: 8px;
    -webkit-tap-highlight-color: transparent;
}

.lable-underline {
    width: 120px; 
    height: 1px;
    background-color: rgb(159, 159, 159); 
    border-radius: 10px;
}

.active-lable-name {
    color: #656565; 
    font-size: 17px;
}

.active-lable-underline {
    background-color: #4b4b4b;
}

.acct-feed-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    justify-content: center;
    margin:16px 5px;
}
.acct-feed-content .posts{
    background-color: lightpink;
    height: 13rem;
    border-radius: 8px;
}